html {
    /* prevent content get covered by the fixed navbar */
    scroll-padding-top: 70px;
}

.jumbotron {
    background: url('/images/meVlogging.JPEG') no-repeat center center /cover;
    margin-bottom: 0;
    color: white;
}

.lead{
    line-height: 1em;
    text-indent: 0;
}

.navbar {
    background-color: #071b34;
}

.list-group{
    margin-bottom: 20px;
}

body{
    position: relative;
}

.home-page {
    padding: 30px 20px;
}

.content {
    padding: 20px;
}

table{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

table, th, td{
    border: 1px solid black;
    text-align: center;
    padding: 5px;
}

#quote-ul, #idiom-ul{
    background-color: #d9edf7;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 6px;
}

#moreVoc{
    display: none;
}

blockquote{
    border-left: .25em solid #ddd;
    padding: 0.5em;
    color: #777;
}

footer {
    background-color: #ccc;
    color: white;
    padding: 5px;
    position: relative;
    bottom: 0;
}

mark{
    background-color: rgb(224, 224, 224);
    border-radius: 3px;
    padding: 0;
    color: red;
}

.bd-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: 0.25rem;
    border-radius: 0.25rem;
}

.bd-callout-primary {
    border-left-color: #2a60b8;
}

.bd-callout-warning{
    border-left-color: #e70000;
}

.fa{
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 10px;
}

.icon{
    width: 35px;
    padding: 10px;
    margin-right: 20px;
}

.icon:hover {
    color: white;
    text-decoration: none;
    opacity: 0.7;
}

.fa-facebook{    
    background: #3B5998;
    color: white;    
}

.fa-github{
    background: black;
    color: white;
}

.fa-linkedin{
    background: #007bb5;
    color: white;
}

.fa-instagram{
    background: #ba1f1f;
    color: white;
}

.fa-youtube{
    background: #bb0000;
    color: white;
}