.jumbotron {
    background: url('/images/meVlogging.JPEG') no-repeat center center /cover;
    margin-bottom: 0;
    color: white;
}

.lead{
    line-height: 1em;
    text-indent: 0;
}

.navbar {
    background-color: #071b34;
}

.home-page {
    padding: 30px 20px;
}

.context {
    padding: 20px;
}
p{
    line-height: 2em;
    text-indent: 2em;
}
.main-footer {
    background-color: #ccc;
    color: white;
    padding: 5px;
    position: relative;
    bottom: 0;
}
